<div ng-controller="adminProductsCtrl" class="container productDetailContainer">
    <div class="topDisplayCat">
        <button class="btn btn-primary" ng-click="changePage('--')">PREV</button>
        {{+pageNumber+1}}
        <button class="btn btn-primary" ng-click="changePage('++')">NEXT</button>
    </div>
    <div class=" col-sm-12 col-xs-12 container">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 productContainer" id={{product.id}}{{$index}} ng-repeat="product in productsToDisplay track by $index"
            ng-if="productsToDisplay.length>0">
            <a ng-click="openProduct(product.id)">
                <!--<span class="designerName">Design By {{product.designedBy}}</span>-->
                    <!--<img ng-src="{{product.images.additional[0]}}" alt="" class="img-responsive">-->
            <div class="owl-carousel productDetailsAdmin owl-theme">
                <div  ng-repeat="img in product.images.additional" style="height: 450px;width: 100%;">
                    <img ng-src="{{img}}" alt="" class="img-responsive">
                </div>
            </div>
                <div class="productDesctiption">
                    <div>{{product.name}}</div>
                    <div><i class="fa fa-inr" aria-hidden="true"></i>{{product.price}}</div>
                    <div class="size">sizes:&nbsp<span ng-repeat="(key, value) in product.sizes">{{key}}&nbsp&nbsp{{value}} </span></div>
                </div>
                </a>
        </div>
        <div class="loadMore col-xs-12" ng-if="moreItemsAvailable && !loadingMoreItems"><button class="btn btn-default" ng-click="loadMore()">LOAD MORE</button></div>
    </div>
    <div class="goToTop" ng-click="scrollToTop()">
        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
        <div>TOP</div>
    </div>
</div>