<div ng-controller="adminOrderCtrl" class="container productDetailContainer">
    <div class="topDisplayCat">
        <button class="btn btn-primary" ng-click="changePage('--')">PREV</button>
        {{+pageNumber+1}}
        <button class="btn btn-primary" ng-click="changePage('++')">NEXT</button>
    </div>
     <div class=" col-sm-12 col-xs-12 container">
        <div class="col-xs-12 productContainer" style="border: 1px solid #ddd" ng-repeat="order in orderDetails"
            ng-if="orderDetails.length>0">
            <h1 ng-if="order.paymentStatus!=='Success'" style="text-align: center; background: #d9534f;margin-top: 0; color:white">PAYMENT NOT RECEIVED</h1>
            <h1 ng-if="order.shipped==='false' && order.paymentStatus==='Success'" style="text-align: center; background: #d9534f;margin-top: 0; color:white">YET TO SHIP</h1>
            <div class="col-xs-12 col-md-4"> Id - <b>{{order.orderId}}</b></div>
            <div class="col-xs-12 col-md-4">Date - <b>{{order.date | date: 'h:mm:ss a  dd-MMM-yy'}}</b></div>
            <div class="col-xs-12 col-md-4">Payment Status -<span ng-style="order.paymentStatus==='Success' && {'color': 'green'} || order.paymentStatus!=='Success' && {'color': 'red'}"> <b>{{order.paymentStatus}}</b></span></div>
            <div class="col-xs-12 col-md-4">Amount Paid - <b>{{order.amount}}</b></div>
            <div class="col-xs-12 col-md-4">tracking_id_payment - <b>{{order.tracking_id_payment}}</b></div>
            <div class="col-xs-12 col-md-4">phoneNo - <b>{{order.orderedBy.phoneNo}}</b></div>
            <div class="col-xs-12 col-md-4">Address - <b><u>{{order.deliveryDetails.address}}</u></b></div>
            <div class="col-xs-12 col-md-4">City - <b>{{order.deliveryDetails.city}}</b></div>
            <div class="col-xs-12 col-md-4">State - <b>{{order.deliveryDetails.state}}</b></div>
            <div class="col-xs-12 col-md-4">pinCode - <b>{{order.deliveryDetails.pinCode}}</b></div>
            <div class="col-xs-12 col-md-4">Name - <b>{{order.orderedBy.name}}</b></div>
            <div class="col-xs-12 col-md-4">emailId - <b>{{order.orderedBy.emailId}}</b></div>
            <div class="col-xs-12 col-md-4">orderStatus -
                <select ng-model="order.orderStatus">
                    <option value="processing">Processing</option>
                    <option value="shipped">Shipped</option>
                    <option value="delivered">Delivered</option>
                </select>

            </div>
            <div class="col-xs-12 col-md-4">shipped -
                <select ng-model="order.shipped">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
            <div class="col-xs-12 col-md-4" ng-if="order.shipped==='true'">
               couriourName-<input type="" ng-model="order.shippingDetails.couriourName" name="" value="">
            </div>
            <div class="col-xs-12 col-md-4" ng-if="order.shipped==='true'">
                shippedOn-<input type="date" ng-model="order.shippingDetails.shippedOn" name="" value="">
            </div>
            <div class="col-xs-12 col-md-4" ng-if="order.shipped==='true'">
                expectedDelivery -<input type="date" ng-model="order.shippingDetails.expectedDelivery" >
            </div>
            <div class="col-xs-12 col-md-4" ng-if="order.shipped==='true'">
               tracking_number - <input type="" ng-model="order.shippingDetails.tracking_number" name="" value="">
            </div>
            <div class="col-xs-12 col-md-4" ng-if="order.shipped==='true'">
               tracking_url - <input type="" ng-model="order.shippingDetails.tracking_url" name="" value="">
            </div>
            <div class="col-xs-12 col-md-4">No of Products - {{order.products.length}}</div>
            <div class="col-xs-12">
            <a ng-repeat="product in order.products" ng-href="{{'/admin/productDetails/'+product.productId}}"  class="col-lg-3">
                <div style="width: 250px; height: 250px">
                    <img style="width: 100%; height: 100%" ng-src="{{product.productDetails.images.display}}" alt="">
                </div>
                <div>
                    <div>ProductId - {{product.productId}}</div>
                    <div>quantity - {{product.quantity}}</div>
                    <div>size - {{product.size}}</div>
                </div>
            </a>
        </div>
        <button style="width: 100%; border-radius: 0" class="btn btn-primary" ng-click="saveChanges(order)">Save</button>
     </div>
</div>