<html>
<!-- 😄-->
<head>
    <base href="/">
    <title>T-shirts</title>
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <link rel="stylesheet" href="./bower_components/OwlCarousel2-2.2.1/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="./bower_components/OwlCarousel2-2.2.1/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./fonts/costomFonts.css">
    <link rel="stylesheet" href="./stylesheets/font-awesome.min.css">
    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
    
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
    
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/products.css">
    <link rel="stylesheet" href="./stylesheets/productDetails.css">
    <link rel="stylesheet" href="./stylesheets/navbar.css">
    <link rel="stylesheet" href="./stylesheets/orderStatus.css">
    <link rel="stylesheet" href="./stylesheets/linksPage.css">
    <link rel="stylesheet" href="./stylesheets/checkOut.css">
    <link rel="stylesheet" href="./stylesheets/homePage.css">

    <meta name="description" content="OrangeClips.com brings you trendy T-Shirts men/women. Visit today and unveil the funkiness in you.">
</head>

<body ng-app="mainApp" ng-controller="parentCtrl" ng-style="cartDropDownVisible && {'overflow-y': 'hidden'}">
    <header ng-if="!hideHeader">        
        <div ng-include="'html/header.html'"></div>
    </header>
    <ui-view></ui-view>
    <div ng-if="cartDropDownVisible" ng-click="hideCart()" class="cartBackDrop modal-backdrop fade in"></div>
    <footer class="col-xs-12 col-sm-12">
        <div ng-include="'html/linksPage.html'"></div>
    </footer>
</body>
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./bower_components/OwlCarousel2-2.2.1/dist/owl.carousel.min.js"></script>
<script src="./bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="./bower_components/underscore/underscore-min.js"></script>

<script src="./javascripts/app.js"></script>
<script src="./javascripts/router.js"></script>
<script src="./javascripts/locale.js"></script>
<script src="./javascripts/parentCtrl/parentCtrl.js"></script>
<script src="./javascripts/productDetails/productDetailsCtrl.js"></script>
<script src="./javascripts/services/productRelatedServices.js"></script>
<script src="./javascripts/services/cartRelatedServices.js"></script>
<script src="./javascripts/services/commonServices.js"></script>
<script src="./javascripts/products/products.js"></script>
<script src="./javascripts/login/loginController.js"></script>
<script src="./javascripts/productDetails/productDetailsCtrl.js"></script>
<script src="./javascripts/header/headerCtrl.js"></script>
<script src="./javascripts/orderStatus/orderStatusCtrl.js"></script>

<script src="./javascripts/cart/cartCtrl.js"></script>
<script src="./javascripts/checkout/checkoutCtrl.js"></script>
<script src="./javascripts/home/home.js"></script>

</html>