<html>
<!-- 😄-->
<head>
    <base href="/">
    <title>T-shirts OrangeClips</title>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106546486-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-106546486-1');
</script>-->
<script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-106546486-1', 'auto');
    ga('send', 'pageview');

</script>
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <link rel="stylesheet" href="./bower_components/OwlCarousel2-2.2.1/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="./bower_components/OwlCarousel2-2.2.1/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./fonts/costomFonts.css">
    <link rel="stylesheet" href="./stylesheets/font-awesome.min.css">
    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
    
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
    
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/products.css">
    <link rel="stylesheet" href="./stylesheets/productDetails.css">
    <link rel="stylesheet" href="./stylesheets/navbar.css">
    <link rel="stylesheet" href="./stylesheets/orderStatus.css">
    <link rel="stylesheet" href="./stylesheets/linksPage.css">
    <link rel="stylesheet" href="./stylesheets/checkOut.css">
    <link rel="stylesheet" href="./stylesheets/homePage.css">

    <meta name="description" content="Orange Clips.com">
    <meta name="description" content="Orange Clips">
    <meta name="description" content="orange clips">
    <meta name="description" content="OrangeClips">
    <meta name="description" content="OrangeClips.com brings you trendy T-Shirts men/women. Visit today and unveil the funkiness in you.">
    <meta name="description" content="Orange Clips brings you trendy T-Shirts men/women. Visit today and unveil the funkiness in you.">
    <meta name="description" content="OrangeClips.com brings you Super smooth feel apparels">
</head>

<body ng-app="mainApp" ng-controller="parentCtrl" ng-style="cartDropDownVisible && {'overflow-y': 'hidden'}">
    <div style="    position: fixed;width: 100%;top: 0;    z-index: 1031;    font-size: 11px; padding-left:10px;  padding-top: 4px;    background: #ddd;    padding-bottom: 5px;"><span style="background: red;color: white;padding: 3px;border-radius: 7px;margin: 2px;">Discount</span> Use code <b>OCTEE10</b> to get a 10% OFF</div>
    <header ng-if="!hideHeader">        
        <div ng-include="'html/header.html'"></div>
    </header>
    <ui-view></ui-view>
    <div ng-if="cartDropDownVisible" ng-click="hideCart()" class="cartBackDrop modal-backdrop fade in"></div>
    <footer class="col-xs-12 col-sm-12">
        <div ng-include="'html/linksPage.html'"></div>
    </footer>
</body>
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./bower_components/OwlCarousel2-2.2.1/dist/owl.carousel.min.js"></script>
<script src="./bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="./bower_components/underscore/underscore-min.js"></script>
<script src="./bower_components/angular-cookies/angular-cookies.min.js"></script>

<script src="./javascripts/app.js"></script>
<script src="./javascripts/router.js"></script>
<script src="./javascripts/locale.js"></script>
<script src="./javascripts/parentCtrl/parentCtrl.js"></script>
<script src="./javascripts/productDetails/productDetailsCtrl.js"></script>
<script src="./javascripts/services/productRelatedServices.js"></script>
<script src="./javascripts/services/cartRelatedServices.js"></script>
<script src="./javascripts/services/commonServices.js"></script>
<script src="./javascripts/products/products.js"></script>
<script src="./javascripts/login/loginController.js"></script>
<script src="./javascripts/productDetails/productDetailsCtrl.js"></script>
<script src="./javascripts/header/headerCtrl.js"></script>
<script src="./javascripts/orderStatus/orderStatusCtrl.js"></script>
<script src="./javascripts/blogs/blogs.js"></script>

<script src="./javascripts/cart/cartCtrl.js"></script>
<script src="./javascripts/checkout/checkoutCtrl.js"></script>
<script src="./javascripts/home/home.js"></script>

</html>