.orangeColor {
    /*background: #FF5722;*/
    width: 100%;
    height: 85vh;
    /*overflow: hidden;*/
}
.homePage .owl-nav{
    width:100%;
}
@keyframes fade-in{
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}}
.loadLater{
    opacity: 0;
}
.fade-in-later{
    animation: fade-in 1 ease 1s forwards;
    -webkit-animation: fade-in 1 ease 1s forwards;
    -moz-animation: fade-in 1 ease 1s forwards;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
.fade-in-0_3s{
    animation: fade-in 1 ease 0.3s forwards;
    -webkit-animation: fade-in 1 ease 0.3s forwards;
    -moz-animation: fade-in  ease 0.3s forwards;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.fade-in-0_5s{
    animation: fade-in 1 ease 0.5s forwards;
    -webkit-animation: fade-in 1 ease 0.5s forwards;
    -moz-animation: fade-in  ease 0.5s forwards;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
}
.fade-in-1s{
    animation: fade-in 1 ease 1s forwards;
    -webkit-animation: fade-in 1 ease 1s forwards;
    -moz-animation: fade-in  ease 1s forwards;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
.fade-in-2s{
    animation: fade-in 1 ease 2s forwards;
    -webkit-animation: fade-in 1 ease 2s forwards;
    -moz-animation: fade-in 1 ease 2s forwards;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}
.fade-in-3s{
    animation: fade-in 1 ease 3s forwards;
    -webkit-animation: fade-in 1 ease 3s forwards;
    -moz-animation: fade-in 1 ease 3s forwards;
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
}
.text{
    text-align: center;
    /*width: 100%;*/
    font-family: Montserrat-Light;
    font-size: 3.6em;
    color: #313a44;
    position: relative;
    /*top: 70px;*/
}
.teeImg{
    top: 10%;
    /*left: 28%;*/
    width: 100%;
        height: 50vw;
    overflow: hidden;
    position: relative;
}
.teeImg img{
    /*top: -110px;*/
    position: relative;
    /*width: 42% !important;*/
    margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        /*height: 100%;*/
}
.letsShop{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    bottom: 80px;
    text-align: center;
    /*right: 2%;*/
    z-index: 10;
    color: #313a44;
}
.letsShop a{
    padding: 10px 35px;
    text-transform: uppercase;
    /*background-color: white;*/
    background: black;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.2), 0px 1px 0px rgba(0,0,0,0.1) inset;
    border-radius: 0; font-size: 23px;
}
.letsShop a:hover{
    text-decoration: none;
    color: white;
}
.letsShopSide{
    top: 100px;
    right: 82px;
    width: initial;
    font-size: 35px;
    text-align: left;
}
.letsShopSide div{
    font-weight: 500;
    margin: 10px 0 ;
}
.letsShopSide a{
    padding: 10px 35px;
    background-color: black;
    border-radius: 0px;
    font-size: 17px;
    color: white;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.2), 0px 1px 0px rgba(0,0,0,0.1) inset;
}
.letsShopSide a:hover{
    text-decoration: none;
    color: white;
}
.letsShopTop{
       position: absolute;
    top: 10px;
    right: 20px;
    width: initial;
    font-size: 20px;
    text-align: left;
}
.letsShopTop div{
    font-weight: 500;
    margin: 10px 0 ;
}
.letsShopTop a{
    padding: 6px 14px;
    background-color: black;
    border-radius: 0px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.2), 0px 1px 0px rgba(0,0,0,0.1) inset;
}

.cottonBall{
    max-width:350px;
    width:100%; 
    /*height: 350px;*/
}
.cottonBall.gol_tshirt{
    height: 450px;width: 450px;
    max-width: 450px;
}

.differenceTypes{
    margin-top: 70px; margin-bottom: 25px; line-height: initial

}
.differenceHead{
    margin: 0 auto;
    max-width: 800px;
    border: 0px solid #313a44; 
    text-transform: uppercase;     
    padding: 42px;
    font-size: 35px;
}
.line_wala_text {
    position: relative;
    font-size: 25px;
    top: 14px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.line_wala_text:before, .line_wala_text:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 2px;
    content: '\a0';
    background-color: #313a44;
}
.line_wala_text:before {
    margin-left: -50%;
    text-align: right;
}
.descriptionHome{
        font-size: 22px;
        padding: 0 10px;
        line-height: 2;
        margin: 0 auto;
        max-width: 750px;
        font-family: Montserrat-Regular;
}
.shadow{
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 0 29px 41px #ddd;
}
.shadow2{
        -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 0 10px 41px #ddd;
}

.tilesParent{
    margin: 40px auto;
    max-width: 900px
}
.tilesParent .tile{
    cursor: pointer;
    height: 476px;
    /*max-width: 450px;*/
    /*border: 1px solid #ddd;*/
    background: #f8f8f8;
       overflow: hidden;
}
.tile a{
    text-decoration: none;
}
.forGender{
    position: absolute;
    color: white;
    top: 35px;
    left: 14px;
    font-size: 28px;
}
.tileOuter.left{
    padding: 20px 25px 0 0;
}
.tileOuter.right{
    padding: 20px 0 0 0px;
}
    .tileImg{
        width: 100%; 
        height: 100%;
        /*padding:12px 12px 66px 174px;*/
    }
    .line_wala_text.dressQuote{
        margin: 10px auto;
        max-width: 750px;
    }

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    /* top: -47px; */
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
.slideHome{
    height: 550px;
    /*background-size: contain;*/
}
@media screen and (max-width: 500px){
    .line_wala_text.dressQuote{
            max-width: 300px;
    }
    .forGender{
        font-size: 25px;
    }
    .tileImg{
        /*padding: 19px 12px 46px 103px;*/
    }
    .cottonBall.gol_tshirt{
        height: 320px;
        width: 320px;
    }
    .differenceHead{
        font-size: 20px;
        padding: 20px 20px 30px 20px;
        /*font-family: 'Montserrat-Bold', sans-serif !important;*/
    }

    .line_wala_text{
        font-size: 14px;
    }
    .line_wala_text:before{
        width: 28%;    
        margin-left: -28%;
    }
    .line_wala_text:after{
        width: 28%;    
    }
  
    .tileOuter.right{
        padding: 20px 0 0 0;
    }
    .tilesParent .tile{
        height: 400px;

    }

}
@media screen and (max-width: 350px){
    /*.owl-carousel.homePage .owl-item img{
        width: 50%;
    }*/
    .tileOuter{
        padding: 0;
    }
    .letsShop a{
        padding: 6px 16px;
        font-size: 13px;
        background: black;
        color: white;
        font-weight: bold;
    }
    .tilesParent .tile {
        height: 300px;
    }
    footer nav {
        margin-top: 70px;
    }
}
@media screen and (min-width: 350px) and (max-width: 900px){
    footer nav {
        margin-top: 70px;
    }
    .letsShop a{
        font-size: 13px;
        /*font-weight: bold;*/
        padding: 6px 16px;
    }
    .orangeColor{
        font-size: 13px;
    }
}
@media screen and (min-width: 500px) and (max-width: 900px){
    .text{
        font-size: 42px;
    }
}
@media screen and (max-width: 750px){
      .tileOuter.left{
        padding: 20px 0 0 0;
    }
}

@media screen and (max-width: 768px){
    .slideHome{
        height: 420px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1400px){
    .slideHome_1{
        background: url('https://lh3.googleusercontent.com/R86AYhezT2mmLuIRP-UaID3ZolJQdyT40NDM7jmh5V4tQ3Dt_1YH1XlT6H6c9ApY0SVUQUpyFl-Sk7M67-mTumnl96UKnVS6z0tWlxxtCb78wo6PwNzuCvLUH_BFKCoTbMmCsmejkT0saiNizhndF-nwcEU4EvpGgYc3-N6l5gFrHWvJiznVvUe75iQRI3-6uB6qz8RwziF1dMkN_1dJlGyon5xZHRSmMJUGvDfWr-k8b7cLIbRYZE31VMF7qf7CZ7IITItUVNyyBUVJtK0scWIQNw3SKrNeuph5ujPv7d4cAQpRS3YiB0k1nwgfliNLpOWYqHol1XTp-YF7wKHpjfv_QJJXvLHd-s1wYUn1uDAHW12vOnDo-K8mozjY-797wO_F_HIlFzL8HC-vHojElGBJERmro1RIGklMOu-W_rO6iOh8l52IAZHdEmgC9I_byvsqc93N-BN2-DNAEbCCtO66eKjJWOdDtirtg0v6S2X-i7dmUbm46Sm9ZpPV_5UnUjarzrEsC1Gx-vlxU32932z-Uug-p6NI0T9Mvs17iNkao6_NEvjdJU07LeZIi6so=w1366-h677') center no-repeat;
        background-size: cover;
    }
    .slideHome_2{
        background: url('./../images/coll5.jpg') top no-repeat;
        background-size: cover;
    }
    .slideHome_3{
        background: url('./../images/tshirtDesc.jpg') center no-repeat;
        background-size: cover;
    }
}
@media screen and (min-width: 1400px){
    .slideHome_1{
        background: url('https://lh3.googleusercontent.com/R86AYhezT2mmLuIRP-UaID3ZolJQdyT40NDM7jmh5V4tQ3Dt_1YH1XlT6H6c9ApY0SVUQUpyFl-Sk7M67-mTumnl96UKnVS6z0tWlxxtCb78wo6PwNzuCvLUH_BFKCoTbMmCsmejkT0saiNizhndF-nwcEU4EvpGgYc3-N6l5gFrHWvJiznVvUe75iQRI3-6uB6qz8RwziF1dMkN_1dJlGyon5xZHRSmMJUGvDfWr-k8b7cLIbRYZE31VMF7qf7CZ7IITItUVNyyBUVJtK0scWIQNw3SKrNeuph5ujPv7d4cAQpRS3YiB0k1nwgfliNLpOWYqHol1XTp-YF7wKHpjfv_QJJXvLHd-s1wYUn1uDAHW12vOnDo-K8mozjY-797wO_F_HIlFzL8HC-vHojElGBJERmro1RIGklMOu-W_rO6iOh8l52IAZHdEmgC9I_byvsqc93N-BN2-DNAEbCCtO66eKjJWOdDtirtg0v6S2X-i7dmUbm46Sm9ZpPV_5UnUjarzrEsC1Gx-vlxU32932z-Uug-p6NI0T9Mvs17iNkao6_NEvjdJU07LeZIi6so=w1366-h677') center no-repeat;
        background-size: cover;
    }
    .slideHome_2{
        background: url('./../images/coll5.jpg') top no-repeat;
        background-size: 100% 840px;
    }
    .slideHome_3{
        background: url('./../images/tshirtDesc.jpg') center no-repeat;
        background-size: cover;
    }
}
@media screen and (min-width: 900px){
    .owl-carousel.homePage .owl-item img{
        width: 100%;
    }
    .letsShop a{
        font-size: 17px;
    }
    .teeImg img{
      top: -100px;
    }
}
