.productContainer{
    display: inline-block;
    margin-bottom: 10px;
    padding: 7px;
    /*height: 530px;*/
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.displayImage{
        height: 430px;

}
.displayImage img{
        margin: 0 auto;
    /*object-fit: cover;*/
}
/*@media (max-width: 500px) {
    .displayImage{
            height: 360px;
    }
}*/
.productContainer:hover{
    margin-top: -2px;
    margin-bottom: 12px;
}
.productContainer img{
     width:100%;
     height: 100%;
}
.productDesctiption{
    /*font-size: 12px;*/
    font-family: Montserrat-Regular;
    padding: 10px 10px;
    line-height: 24px;
}
.category{
    font-family: Montserrat-Medium;
    font-size: 18px;
    padding: 10px 0;
    border-bottom:1px solid;
    border-color: #ddd;
}
.categories li{
    font-size: 12px;
    cursor: pointer;
    padding: 15px 10px 0 0px;
    transition: all 0.3s;
}
.categories li:hover{
    padding-left: 5px;
}
.categories li i{
    font-size: 7px;
    margin-top: 5px;
    color: #FF5722;
}
.productContainer a:hover, .productContainer a:visited, .productContainer a:active{
    text-decoration: none;
    color:#000;
}
.owl-carousel.categories{
    font-size:13px;
}
.owl-carousel.categories div{
    padding: 10px 0;
}
.owl-carousel.categories i{
    color: #FF5722;
}
.owl-carousel.categories .owl-stage-outer{
    padding: 0;
}
.loadMore{
    text-align: center;
}
.designerName{
    position: absolute;
    right: 7px;
    font-size: 11px;
    background-color: rgba(239,108,0, 0.6);
    color: white;
    padding: 1px 3px;
}
.goToTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    border: 1px solid #313a44;
    padding: 6px;
    border-radius: 7px;
    color: #313a44;
    cursor:pointer;
    z-index: 1041;
    
}
.topDisplayCat{
    text-align: center;
    margin-bottom: 35px;
    text-transform: capitalize;
    font-family: Montserrat-Bold;
    font-size: 20px;
}
.topDisplayCat span{
    font-family: Montserrat-Regular;
    color:#777;
}
@media (max-width: 767px){
    .productContainer, .container.productDetailContainer{
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .productDetailContainer{
        /*width: 95%;*/
        /*margin: 0 auto;   */
    }
}
@media (min-width: 1024px){
    .productDetailContainer{
        /*width: 77%;*/
        /*margin: 0 auto;   */
    }
    .displayImage {
        height: 390px;
    }
}