.no-padding{
    padding:0;
}
.no-margin{
    margin: 0;
}
.belowName{
    color: #313a44;
    padding: 23px 0;
    font-size: 20px;
    font-family: Montserrat-Light;

}
.darkGray{
    color: #A9A9A9;
}
.nameDisplay{
    font-size: 28px;
    line-height: 34px;
    font-family: Montserrat-light;
    margin-bottom: 28px;
    color: #313a44;
}
.margin-30-0{
    margin: 30px 0;
}
.priceDiv{
    color: rgba(0,0,0,.8);
    font-size: 36px;
    line-height: 45px;
    font-family: Montserrat-Bold;
}
.priceDiv i{
    font-size: 23px;
}
.sizes{
    line-height: 40px;
    margin: 10px 0 40px 0;
    font-size: 18px;
}
.sizes ul{
    display: flex;
}
.size-box{
    margin:0 4px;
    border-radius: 0;
    background-color: transparent
}
.size-box:hover{
    border:1px solid #FF5722;
    color: #FF5722;
}
button[disabled]{
    background-color: #ddd;
    cursor: not-allowed;
    text-decoration: line-through;
    border:none;
    background-color: #f5f5f5;
    pointer-events: none;
}
.size-box:active, .size-box:focus,.size-box:focus:active, .size-box:visited{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.size-box.selectedSize{
    border:1px solid #FF5722;
    color: #FF5722;
}
.requestUnavailableSize small{
    background: #ddd;
    padding: 3px;
    cursor: pointer;
}
.buttonsinProductDetails button{
    border-radius: 0px;
    margin: 5px 10px 10px 40px;
    padding: 10px 0;
    font-size: 20px;
    padding: 10px;
}
.buyNowBtn{
    background: #FF5722;
    color: white;
    border-radius: 0px;
}
.buttonsinProductDetails button:focus, .buttonsinProductDetails button:hover, .buttonsinProductDetails button:focus:hover, .buyNowBtn:focus, .buyNowBtn:hover, .buyNowBtn:focus:hover{
    color: white;
    text-decoration: none;
    outline: none;
}
.buttonsinProductDetails button.addToCart:focus, .buttonsinProductDetails button.addToCart:hover, .buttonsinProductDetails button.addToCart:focus:hover{
    color: inherit;
}
.navButtonsCarousal{
    position: absolute;
    font-size: 40px;
    top:0;
    padding: 260px 17px;  
    cursor:pointer; 
}
.navButtonsCarousal.right{
    right: 0;
}
.owl-nav{
    top: 27%;
    position: absolute;
    width: 100%;
}
.owl-theme .owl-nav .owl-next {
    right:0px;
    cursor:pointer;  
    float:right;
    margin-right:20px; 
    padding: 116px 10px;
    background: transparent;
}
.owl-theme .owl-nav .owl-prev {
    float:left;
    padding: 116px 10px;
    background: transparent;
}
.owl-theme .owl-nav{
    height: 0px;
}
.owl-theme .owl-nav i{
    color: black;
}
.requestForSizeDiv input{
    border-radius: 0;
    font-family: Montserrat-Regular;
}
.requestForSizeDiv span{
    font-size: 11px;
    line-height: 24px;
    font-family: Montserrat-Regular;
    font-weight: 600;
}
.sizes ul{
    border: 2px solid transparent;
}
.sizes ul.showErrorBorder{
    border: 2px solid rgba(255,0,51, 0.7);
    display: inline-flex;
}
.sizes ul.showErrorBorder:hover{
    border: none;
}
.requestForSizeDiv .sizes{
        margin: 0 !important;
}
.productDescriptionClass{
    padding: 10px 30px
}
@media (min-width: 768px){
  .padding_big{
          padding: 40px 40px 0;
  }
  .sizes{
          margin: 10px 0 40px 40px;
  }
  .requestForSizeDiv .buyNowBtn{
    padding: 10px;
    width: 100%;
  }
}
/*.owl-carousel.productDetails .owl-item img{
    width: 480px;
    height: 560px;
}
@media (max-width: 500px){
.owl-carousel.productDetails .owl-item img,.owl-carousel.productDetails .owl-stage-outer, .owl-carousel.productDetails .owl-stage{
    width: 360px;
    height: 360px;
}
}*/
@media (max-width: 767px){
  .buttonsinProductDetails button{
      margin: 10px 0;
  }
}
.additionalDetails h1{
    margin-bottom: 20px;
    margin-top: 40px;
    border-left: 6px solid orange;
    padding-left: 5px;
}
.productDetailsImage{
    height: 600px;
}
.productDetailsImage img{
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}
@media (max-width: 767px){
    .productDetailsImage{
        height: 371px;
    }
}