
body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: Montserrat-Regular;
}
.margin_t_20{
    margin-top: 20px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}
.cartBackDrop.modal-backdrop.fade.in{
    z-index: 999;
}

/*
h2.shake,
.shake.inline {
	display:inline-block
}*/
/*h1,p,h2{
  color:#FFF;
}*/

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding:0;
}


@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(0px, 0px) }
	10% { -webkit-transform: translate(-1px, 0px) }
	20% { -webkit-transform: translate(-3px, 0px) }
	30% { -webkit-transform: translate(2px, 0px) }
	40% { -webkit-transform: translate(1px, 0px) }
	50% { -webkit-transform: translate(-1px, 0px) }
	60% { -webkit-transform: translate(-3px, 0px) }
	70% { -webkit-transform: translate(2px, 0px) }
	80% { -webkit-transform: translate(-1px, 0px) }
	90% { -webkit-transform: translate(2px, 0px) }
	100% { -webkit-transform: translate(1px, 0px) }
}
.shake{
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;    
}
.shake:hover,
.shake:focus {
	-webkit-animation-name: none;
}
@keyframes instacol{
    0% {
        color: #525ece;
    }

    25% {
        color: #df2d74;
    }
    50% {
        color: #f78547;
    }
    75% {
        color: #df2d74;
    }
    100% {
        color: #525ece;
    }
}
@keyframes instaBackCol{
    0% {
        background: #525ece;
    }

    25% {
        background: #df2d74;
    }
    50% {
        background: #f78547;
    }
    75% {
        background: #df2d74;
    }
    100% {
        background: #525ece;
    }
}
footer{
    border-top: 2px solid #eee;
    /*position: relative;*/
    height: 106px;
    /*max-width: 1200px;*/
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
footer nav{
    margin-top: 50px;
    /*padding-top: 20px;*/
    /*position: relative;
    top: 50%;*/
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    text-align: center;
}

footer nav a{
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #313a44 !important;
    margin: 0 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 3;
}
.instagram{
    animation: instacol 8s infinite;
    -webkit-animation: instacol 8s infinite;
    -moz-animation: instacol 8s infinite;
}
.instagramBack{
    animation: instaBackCol 3s infinite;
    -webkit-animation: instaBackCol 3s infinite;
    -moz-animation: instaBackCol 3s infinite;
    color:white !important;
}
footer a.instagram:before {
    content: '';
    background: url(../images/icon-instagram.svg) no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: .4em;
    margin-top: -3px;
}
#shipping, #refunds, #terms {
    border-bottom: 2px solid #eee;
    padding-bottom: 7.2rem;
}
#privacy {
    margin-top: 6.4rem;
}
footer nav a .dot {
    display: inline-block;
    background: #8596FF;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    position: relative;
    top: -3px;
    margin-left: .3em;
}
.article h2 {
    font-size: 2.215em;
    margin: 0.6em 0;
    text-align: left;
}
.article h2{
    font-family: "Montserrat-Light", Georgia, serif;  
        font-weight: 300;
    font-size: 3.25em;
    line-height: 1.2em;
    margin: .2em 0;
    letter-spacing: -2px;
    color: #313a44;
}
.article p.small {
    font-size: 15px;
    line-height: 1.8em;
    margin-bottom: 1em;
}
.article p {
    font-family: "Montserrat-Light", Georgia, serif;
    text-align: left;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.7em;
    margin-bottom: 1.25em;
}
.article h3 {
    font-size: 1.325em;
    margin-top: 1.2em;
    text-align: left;
    color: #313a44;
    font-weight: 700;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
a {
    color: inherit;
    text-decoration: none;
}
#care p.small{
    font-family: "Montserrat-Light", Georgia, serif;
    text-align: left;
    font-weight: 100;
    font-size: 1.25em;
    line-height: 1.7em;
    margin-bottom: 1.25em;
}
#care p.big{
    text-align: center !important;
    font-family: "Montserrat-Light",sans-serif;
    font-weight: 100;
    font-size: 1.675em;
    line-height: 1.5em;
    margin-bottom: 0;
}
#care p.big{
    margin-top: 30px !important;
}
#care h1{
    text-align: center !important;
    font-size: 2.625em;
    line-height: 1.238em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.75em;
    margin-top: 50px;
}
#care a{
    color: #23527c;
    cursor: pointer;
}
