<div ng-controller="headerCtrl" class="">
    <div class="navbar-container">
        <nav class="navbar navbar-fixed-top navbar-default">
            <div class="">
                <div class="container-fluid no-padding col-sm-12">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle x collapsed pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                            <span class="sr-only">Buy High Quality Super Soft T-shirts</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--brand name-->
                        <!--<div class="col-lg-2 col-md-2">-->
                        <a  ng-click="$parent.hideCart()" class="navbar-brand" href="/"><b>{{brandName}}<sup>&trade;</sup></b></a>
                        <div ng-if="!hideCartFromNavBar" class="visible-xs pull-right cart-button" ng-class="{'cart-visible': cartDropDownVisible}" ng-click="viewCartDropDown()"><i class="fa fa-shopping-bag" aria-hidden="true"  title="Cart"></i><span class="" ng-class="{'numberOfProducts':cartDropDownVisible}">{{numberOfProductsInCart}}</span><i class="fa fa-plus" aria-hidden="true"  title="Cart"></i></div>
                        <!--</div>-->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="">
                    <div class="collapse navbar-collapse no-padding" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                        <!--<ul class="nav navbar-nav" ng-mouseover="hovering = true" ng-mouseleave="hovering = false">-->
                            <!--<a class="tab-border hidden-xs hidden-sm" ng-style="selectedMenu === 1 &amp;&amp; hovering &amp;&amp; {'width':'115px', 'left':'20px'}  || selectedMenu === 2 &amp;&amp; hovering &amp;&amp; {'width':'84.66px', 'left':'15px'} || selectedMenu === 3 &amp;&amp; hovering &amp;&amp; {'width':'90.13px', 'left':'99.66px'} || selectedMenu === 4 &amp;&amp; hovering &amp;&amp; {'width':'141px', 'left':'325px'} || selectedMenu === 5 &amp;&amp; hovering &amp;&amp; {'width':'119px', 'left':'337px'}"></a>-->
                            <!--<li ng-mouseover="selectedMenu = 1" ng-click="$parent.hideCart();hideToggleMenu()"><a href="/products?gender=unisex&superCategory=all&subCategory=all&src=chef">CHEF'S CHOICE<span class="sr-only">(current)</span></a></li>-->
                            <li ng-mouseover="selectedMenu = 2" ng-click="$parent.hideCart();hideToggleMenu()"><a ng-click="redirectTo()" href="/products?gender=unisex&superCategory=topwear&subCategory=t-shirt">UNISEX</a></li>
                            <li ng-mouseover="selectedMenu = 3" ng-click="$parent.hideCart();hideToggleMenu()"><a href="#" data-toggle="modal" data-target="#womenNotify" ng-click="notified=false">WOMEN</a></li>
                            <li ng-mouseover="selectedMenu = 2" ng-click="$parent.hideCart();hideToggleMenu()"><a ng-click="redirectTo()" href="/products?gender=unisex&superCategory=topwear&subCategory=OC-Bold&tags=solid"><span style="font-weight: bolder;font-size: 18px;">OC BOLD</span></a></li>
                            <li ng-mouseover="selectedMenu = 4" ng-click="$parent.hideCart();hideToggleMenu()"><a ng-click="redirectTo()" href="/products?gender=unisex&superCategory=topwear&subCategory=OC-select&tags=ocselect" class="instagram">OC Select</a></li>
                            <li class="hidden-sm hidden-md hidden-lg" ng-mouseover="selectedMenu = 5" ng-click="$parent.hideCart();hideToggleMenu()"><a ng-click="redirectTo()" href="https://www.instagram.com/orangeclipsofficial/" target="_blank" class="instagramBack">Follow us on Instagram</a></li>
                            <!--<li ng-mouseover="selectedMenu = 3"><a href="/products?gender=women&superCategory=all&subCategory=all">WOMEN</a></li>-->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                        <div ng-if="!hideCartFromNavBar" class="hidden-xs pull-right cart-button" data-toggle="modal" data-target="#cartPopup"  ng-class="{'cart-visible': cartDropDownVisible}" ng-click="viewCartDropDown()"><i class="fa fa-shopping-bag" aria-hidden="true" title="Cart"></i><span  class=""  ng-class="{'numberOfProducts':cartDropDownVisible}">{{numberOfProductsInCart}}</span><i class="fa fa-plus" aria-hidden="true"  title="Cart"></i></div>
                        </ul>
                    </div>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
        </nav>
        </div>
<div class="cartwrapper col-xs-12 col-sm-5" ng-if="cartDropDownVisible">
    <div class="cartDropDown col-xs-12">
        <div class="cartDetail" ng-repeat="product in cart.cartDetails">
            <div class="image-wrapper">
                <div class="removeIcon" ng-click="removeItemFromCart(product)" title='Remove Product'><img src="./images/cancel.svg" alt=""></div>
                <img class="productImage img-responsive img-rounded" ng-src={{product.productDetails.images.display}} alt="">
            </div>
            <div class="productDescription">{{product.quantity}}<span class="saperator">.</span>{{product.productDetails.name}}<span class="saperator">.</span><b>{{product.size}}</b></div>
            <div class="productPrice"><i class="fa fa-inr" aria-hidden="true"></i> {{product.productDetails.price * product.quantity}}</div>
        </div>
    </div>
    <div ng-if="cart.cartDetails.length<=0" class="noProducts">
        <p>Shopping Bag Empty :'(</p>
        <!--Select Products From Our Super Cool Collection :)-->
    </div>
    <div class="checkoutButton" ng-if="cart.cartDetails.length>0">
        <button class="btn" ng-click="proceedToCheckOut(cart.cartDetails)">Checkout</button>
    </div>
</div>
    
<!-- Modal -->
<div id="womenNotify" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div  data-dismiss="modal" style="background-color: transparent;
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
    font-weight: bolder;
    padding: 2px;
    border-radius: 5px;">X</div>
        <img  data-dismiss="modal"  src="images/ladiesTshirt.jpg" alt="">
        <div class="notifyWomen">
            <form name="notifyMeForm" novalidate>
                <span class="textInNotify">We're almost ready for you, ladies.</span>
                <div ng-if="notified" style="color: white">Got It <img src="./images/thumbsUp.png" style="    width: 27px;
    height: 27px;
    position: relative;
    top: -4px;" alt=""></div>
                <div ng-if="!notified"> 
                    <input type="email" ng-model="notifyEmail" class="form-control notifyMeField" name="emailid" placeholder="Email Address" required>
                    <button ng-disabled="!notifyMeForm.$valid" class="btn buyNowBtn" ng-click="notifyWomen()">Notify Me</button>
                </div>
            </form>
        </div>
     </div>
    </div>

  </div>
</div>
</div>