<div ng-controller='orderStatusCtrl' class="row orderStatusParent">
    <div style="text-align: center">
    </div>
    <h2>
        <span>
            Order Details
        </span>
        <!--<img class="thanksImage img-circle" src="images/paid.png" alt="" />-->
    </h2>
    <div class=" col-sm-6 col-xs-12 bill billPart1 no-padding">
        <div class="billWrapper">
            <div class="heading">
                <b>Orange Clips</b>
                <span class="pull-right">Order: {{orderDetails.orderId}}</span>
            </div>
            <div class="padding_border">
                <div><b>{{orderDetails.orderedBy.name}}</b></div>
                <div>{{orderDetails.deliveryDetails.address}}</div>
                <div>{{orderDetails.deliveryDetails.city}}, {{orderDetails.deliveryDetails.state}},{{orderDetails.deliveryDetails.pinCode}}
                </div>
                <div>{{orderDetails.deliveryDetails.country}} </div>
            </div>
            <div class="padding_border">
                <div ng-repeat="product in orderDetails.products">
                    {{product.quantity}} . {{product.productDetails.name}} . {{product.size}}
                    <span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> {{product.productDetails.price}}</span>
                </div>
            </div>
            <div class="padding_border no-border">
                {{orderDetails.paymentStatus}}
                <div class="pull-right">
                    <i class="fa fa-inr" aria-hidden="true"></i> {{orderDetails.amount | number:0}}
                </div>
            </div>
        </div>
        <img src="images/billBottom.png" alt="">
    </div>
    <div class=" col-sm-6 col-xs-12 bill billPart2 no-padding">
        <div class="billWrapper">
            <div class="heading">
                <b>Orange Clips</b>
                <span class="pull-right">Order: {{orderDetails.orderId}}</span>
            
            </div>
            <div ng-if="!orderDetails.shipped">
                <div class="trackingDetails">
                    <div>Yet to be shipped. Shipping details will be available once shipped.</div>
                </div>
            </div>
            <div ng-if="orderDetails.shipped" class="no-padding">
                <div class="trackingDetails">
                    <!-- <div class="col"> -->
                        <div>Shipped</div>
                        <b>{{orderDetails.shippingDetails.shippedOn | date:'LLLL d'}}</b>
                    <!-- </div> -->
                    <!-- <div class="col"> -->
                        <!-- </div> -->
                    </div>
                    <div class="trackingDetails">
                        <div>Arriving</div>
                        <b>{{orderDetails.shippingDetails.expectedDelivery | date:'LLLL d'}}</b>
                    </div>
                
                <div class="trackingDetails">
                    <div>Courier</div>
                    <b>{{(orderDetails.shippingDetails.couriourName ? orderDetails.shippingDetails.couriourName : "-")}}</b>
                </div>
                <div class="trackingDetails">
                    <div>Tracking Number</div>
                    <b>{{(orderDetails.shippingDetails.tracking_number ? orderDetails.shippingDetails.tracking_number : "-")}}</b>
                </div>
                <div class="trackingDetails" ng-if="orderDetails.shippingDetails.tracking_number">
                    <div>Tracking Link</div>
                    <b><a ng-href='{{orderDetails.shippingDetails.tracking_url}}'>Click To track</a></b>
                </div>
            </div>
        </div>
        <img src="images/billBottom.png" alt="">
    </div>