<div ng-controller="productDetailsCtrl">
    <div class="container no-padding">
        <div class="col-lg-6 col-sm-6 col-xs-12 ">
            <div class="owl-carousel productDetails owl-theme">
                <!--<div class="navButtonsCarousal" ng-click="prevImage()"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>-->
                <div ng-repeat="img in details.images.additional" class="productDetailsImage">
                    <img ng-src={{img}}>
                </div>
                <!--<div class="navButtonsCarousal right" ng-click="nextImage()"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>-->
            </div>
        </div>
        <!--details-->
        <div class="col-xs-12 col-sm-6 productDescriptionClass">
        <div class="col-xs-12 margin_t_20 padding_big">
            <!--name-->
            <div class="item_name nameDisplay" style="margin-bottom: 10px;">{{details.name}}</div>
            <p class="no-padding no-margin" ng-if="currentViews > 0"><img style="width: 34px;margin-right: 10px;margin-top: -4px;" src="images/eyeIcon.png"><b>{{currentViews}} people</b> viewing this OC-Tee right now</p>
            <div class="item_fit belowName no-padding">
                <p class="no-padding no-margin">{{details.fit}}</p>
                <!--<p class="no-padding no-margin">{{details.fit_description}}</p>-->
                <p class="no-padding no-margin">{{details.categoryInfo.fabric}}</p>
                <p class="no-padding no-margin">Ships in 24 Hours</p>
            </div>
            <!--price-->
            <div class="margin-t-20">
                <span class="priceDiv"><i class="fa fa-inr" aria-hidden="true"></i>{{details.price}}</span>
            </div>
            <!--error messages-->
        </div>
        <div class="sizes col-xs-12">
            <div>SIZE: &nbsp&nbsp
                 <!--<span style="color: grey; font-size: 15px; cursor: pointer;" data-toggle="modal" data-target="#sizeChartModal"><u>SIZE CHART</u></span>-->
                 </div>
            <div>
                <ul ng-class="{shake: buyNowOrAddToCartClicked && !selectedSize, showErrorBorder: buyNowOrAddToCartClicked && !selectedSize}">
                    <li ng-repeat="(key, size) in details.sizes">
                        <button class="size-box btn" ng-click="selectSize(key)" ng-class="{selectedSize:selectedSize===key}" ng-disabled="size<=0">{{key}}</button>
                    </li>
                </ul>
                <div ng-init="showRequestForSizeDiv= false" ng-click="showRequestForSizeDiv = !showRequestForSizeDiv" class="requestUnavailableSize"><small> <b>Size not available?</b> Request for it at same price.</small></div>
                <div ng-if="requestForSizeReceived">Nice Choice! Will be in stock soon. Happy Shopping.😄</div>
                <div ng-if="showRequestForSizeDiv" class="requestForSizeDiv no-padding col-xs-12 col-sm-7">

                    <span>How should Orange Clips contact you. 
                        <!--Dont worry we won't use your Email Id or Phone No for Promotions-->
                    </span>
                    <input type="text" class="form-control" ng-model="requestForSizeContact" placeholder="Email Id or Phone No">
                    <span>Select the size you want you request</span>
                    <div class="sizes">
                        <ul ng-class="{shake: requestForSizeBtnClicked && !sizeForRequest, showErrorBorder: requestForSizeBtnClicked && !sizeForRequest}">
                            <li ng-repeat="(key, size) in details.sizes" ng-if="size<=0">
                                <button class="size-box btn " ng-class="{selectedSize:sizeForRequest===key}" ng-click="selectSizeForRequest(key)">{{key}}</button>
                            </li>
                        </ul>
                    </div>
                    <button class="buyNowBtn btn col-xs-12 col-sm-8" ng-click="sendRequestForSize(requestForSizeContact, details.id, key)">Request Size</button>
                </div>
            </div>
        </div>
        <div class=" col-xs-12 buttonsinProductDetails">
            <button class="buyNowBtn btn col-xs-12 col-sm-8" ng-click="buyItNow(details, selectedSize)">Buy Now</button>
            <button class="addToCart btn col-xs-12 col-sm-8" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"
                ng-click="addToCart(details, selectedSize)">Add To Cart</button>
        </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <div class="container additionalDetails">
            <!-- <h1>Donation</h1> -->
            <div>
                    Everytime you shop at <b>orangeclips.com</b>, we contribute 5% of our profit plus 5% from our pocket to NGOs, Enabling deprived children, their families and their communities to meet their basic needs and to increase their ability to participate in and benefit from their societies.
                    Promoting the rights and interests of the world's children.                
               
            </div>
        </div>
    <div class="container additionalDetails">
        <h1>Fabric</h1>
        <div ng-bind-html="details.materialDescription"></div>
    </div>
    <div class="container additionalDetails">
        <h1>Shipping</h1>
        <div ng-bind-html="details.shippingDescription"></div>
    </div>
    <div class="container additionalDetails">
        <h1>Payments
             <img style="float: right; width: 130px;" src="./images/ccavenue.png" alt="">
        </h1>
        <div>
            Digital Payments for digital India. We accept almost all types of digital payment methods - Debit cards, Credit cards, Net-banking, Digital wallets, UPI. In case of any query feel free to reach us at  <a href="mailto:contact@orangeclips.com">contact@orangeclips.com</a>. 
        </div>
    </div>
    
    <!--<div class="photos col-xs-12 col-lg-12">
            <div style="width:50%; height:600px" class="imageDiv  col-xs-6" ng-repeat="img in details.images.additional">
                <img style="width:100%; height:100%" class="imagein" ng-src={{"https://images.bewakoof.com/t540/"+img.name}}>
            </div>
    </div>-->


    <!--size chart model-->
    <div id="sizeChartModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" style="padding: 0">
                    <div data-dismiss="modal" style="background-color: transparent;
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
    font-weight: bolder;
    padding: 2px;
    border-radius: 5px;">X</div>
                    <img data-dismiss="modal" src="images/sizeChart.png" alt="">
                </div>
            </div>

        </div>
    </div>

</div>