<div ng-controller="productsCtrl" class="container productDetailContainer">
    <!--<div class="col-xs-12 container">
        <div class="col-xs-2">&nbsp</div>
        <ol class="breadcrumb col-xs-10">
        <li ng-repeat="crumb in breadCrumb" class="breadcrumb-item"><a href="crumb.url">{{crumb.name}}</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
</ol>
    </div>-->
    <!--<div class="col-xs-12 hidden-sm hidden-md hidden-lg no-padding">Categories</div>
        <div class="owl-carousel categories owl-theme col-xs-12 hidden-sm hidden-md hidden-lg no-padding">
                <div ng-repeat="tag in tags" ng-click="changeTags(tag)">
                    <i class="fa fa-circle" aria-hidden="true" ng-if="tagsSelected.indexOf(tag) > -1"></i>
                    <span ng-if="tagsSelected.indexOf(tag) === -1"></span>{{tag}}
                </div>
        </div>
        <div class="container col-sm-2 hidden-xs">
            <div class="category"><span>CATEGORIES</span></div>
            <ul class="categories">
                <li ng-repeat="tag in tags" ng-click="changeTags(tag)">
                    <i class="fa fa-circle" aria-hidden="true" ng-if="tagsSelected.indexOf(tag) > -1"></i>
                    <span ng-if="tagsSelected.indexOf(tag) === -1">&nbsp&nbsp</span> {{tag}}
                </li>
            </ul>
        </div>-->



    <div class="topDisplayCat" ng-if="params.subCategory">{{params.subCategory}}
             <!-- <span ng-if="!loading">({{totalCount}})</span> -->
        <span ng-if="loading"><img src="./images/loading1.gif" style="width: 43px;object-fit: none;" alt=""></span></div>
    <div class="col-sm-12 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 productContainer" id={{product.id}}{{$index}} ng-repeat="product in productsToDisplay track by $index"
            ng-if="productsToDisplay.length>0">
            <a ng-click="openProduct(product.url, product.id, $index)">
                <div class="displayimage">
                    <img ng-init="product.temp = product.images.display" ng-mouseover="product.temp=product.images.additional[1]" ng-mouseleave="product.temp=product.images.additional[0]"
                        ng-src="{{product.temp}}" alt="" class="img-responsive">
                </div>
                <div class="productDesctiption">
                    <div class="text-ellipsis">{{product.name}}</div>
                    <span ng-if="product.price !== product.mrp" style="color: gray; text-decoration: line-through">
                        <i class="fa fa-inr" aria-hidden="true"></i> {{product.mrp}}
                    </span>
                    <span ng-if="product.price !== product.mrp">&nbsp <i class="fa fa-inr" aria-hidden="true"></i> {{product.price}}</span>
                    <span ng-if="product.price === product.mrp"><i class="fa fa-inr" aria-hidden="true"></i>{{product.price}}</span>


                    <div ng-if="product.sizeVarientsAvailable" class="size" >sizes:&nbsp<span ng-repeat="(key, value) in product.sizes"><span ng-if="value>0">{{key}}&nbsp&nbsp</span></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="loadMore col-xs-12" ng-if="moreItemsAvailable && !loadingMoreItems"><button class="btn btn-default" ng-click="loadMore()">LOAD MORE</button></div>
        <div class="col-xs-12" ng-if="!moreItemsAvailable">
            <div class="text-center" style="    margin: 40px 0 8px 0;font-size: 23px;"> &nbsp&nbsp That's All folks &nbsp&nbsp</div>
              <div class="text-center"><img src="https://lh3.googleusercontent.com/iCOlge3PCNoSzlhBv79Y5B5BFUQE9FA6obHBREQWUJGNQ8Bgxcia8Ys-yUTHpb-ah6eo8OYEb9RrwvUxXLefIUFY5IWXb3a2j5P01BrxoxBgN3WJ4Hbt5UvGZk0677dl4xOq4qzyjhT3MBErKRYYA9fQ16RyC1qobt86CVtmAyIHRAE-4bv4zS3wD0WQcpCHTWoMRO7mSRDjki61lUejQnYESvZbFICeTqx_evmiEAcOCGEXv5XfH-i4x2Hs4mDkYnTdQEayzxxI7HmlK4s9P8engzHxvO8cBYON3VzqyRqZ_qAkFVwGUZmPm-mZt9jPjqsQL1SB8bWEzgbqGXEUvYdlydyL_oaLR-k-cC34RnMjTJtcNr4i9PIf8vMbOLNFLbhovICCYbsiV7QaI1U4vxtpk1rT1neGT0JNft8PLPt4f2Ai4Ab2A4DI2SHnQ-zFDTDg-lzTjUH1ak0_5VvoHVa0O5_nZSCPwK1_9cgBmipPBWw2K8iKArZBjhZxwOhoTU4kGcp4RjS-1KndMh4pO8jPjsar-pEar8WixVDs2WFunA5i3ifdW44PvrlLYnUVrCc=w1125-h677"></div>

            <div class="descriptionHome text-center" style="max-width: 550px; margin-top:14px">
                <div>Uncontrolled variation is the enemy of quality.</div>
            </div>
        </div>
    </div>
    <div class="goToTop" ng-click="scrollToTop()">
        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
        <div>TOP</div>
    </div>


    <!--<div class="col-xs-12">
            <div class="descriptionHome text-center" style="max-width: 550px;max-height: 500px;">
               <img src="./images/charkha.jpg" alt="" class="img-responsive">
            </div>
            <div class="descriptionHome text-center" style="max-width: 550px;max-height: 500px;">
                Spinning It.
            </div>

            <div class="descriptionHome text-center" style="max-width: 550px;max-height: 500px;">
                Launching On 15 Nov.
            </div>

            <div class="line_wala_text dressQuote text-center" style="margin-bottom: 30px; max-width: 550px;"> &nbsp&nbsp Good Things Take Time. &nbsp&nbsp</div>
    </div>-->
</div>
